.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1000px;
  width: 100%;
  margin-bottom: 50px;
}

.card {
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid#DDDDDD;
  /* box-shadow: 3px 5px 8px #dddddd; */
  box-shadow: 0 0 7px 0 rgb(17 22 26 / 15%), 0 2px 4px 0 rgb(17 22 26 / 8%),
    0 4px 8px 0 rgb(17 22 26 / 15%);
  font-size: 15px;
  border-radius: 10px;
}

.card > div {
  padding: 20px 15px;
}
